twitter:
    consumer:
        key: CONSUMER KEY
        secret: CONSUMER SECRET
    user:
        token: USER TOKEN
        secret: SECRET

target:
    id: "949438177"
    words:
        -   match: "/homo|[ホほ][モも]/ui"
            formats:
                "0": null
                "1": "ちょまどさんは最近{totalCount}ツイート中{matchCount}ツイート、ホモとつぶやいています（ホモ率{ratio%}）。{lastMatchAgo}間ホモとつぶやいていません。"
                "*": "ちょまどさんは最近{totalCount}ツイート中{matchCount}ツイート、平均{avgMin}毎にホモとつぶやいています（ホモ率{ratio%}）。{lastMatchAgo}間ホモとつぶやいていません。"
        -   match: "/美少女/"
            formats:
                "0": null
                "1": "ちょまどさんは最近{totalCount}ツイート中{matchCount}ツイート、美少女とつぶやいています（美少女率{ratio%}）。{lastMatchAgo}間美少女とつぶやいていません。"
                "*": "ちょまどさんは最近{totalCount}ツイート中{matchCount}ツイート、平均{avgMin}毎に美少女とつぶやいています（美少女率{ratio%}）。{lastMatchAgo}間美少女とつぶやいていません。"
